*.pyc
*.csv
*.dat
*.pickle
*.pkl
*.pdf
*.png
*.csv
*.gefx
*.tex
multfs_users/
db_credentials.py
mail_credentials.py
__pycache__/
link_files/
btc_files/
ip_files/
email_files/
skype_files/
num_files/
trigram_files/
timestamp_files/
Author/
coincidences/
*.log
*.zip
backup/
w/
